<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" src="styles.css">
      <title>SIGN UP</title>
   </head>
   <body>
      <h1>Let's get started.</h1>
      <h2>To sign up, please enter a username and password, then press submit!</h2>

      <form method="POST" action= "/sign-up" name="sign-up">
         <input type="text" name="username" placeholder="Enter a Username">
         <input type="password" name="password" placeholder="Enter a Password">
         <!-- <input type="email" name="email" placeholder="Enter Email Address"> -->
         <input type="submit" name="submit">
      </form>
   </body>
</html>
